starling.egg-info/
starling/__pycache__/
starling/models/__pycache__/
*cpython*
lightning_logs/
wandb/
build/
dist/

# intermediate file stuff
.DS_Store
.ipynb_checkpoints/

*~

starling/tests/test_scratch.ipynb
idptools_starling.egg-info/

# added to avoid local version clashes on build
starling/_version.py

for_presentation/

docs/_build/
docs/tmp/

randomness.md